# Created by https://www.toptal.com/developers/gitignore/api/kotlin,intellij
# Edit at https://www.toptal.com/developers/gitignore?templates=kotlin,intellij

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
 
.idea

buildInfra/output/


*.class

build

*.DS_Store

*.gradle

# Ignoring whole 'tools' except for shellscripts/kotlin-stdlib-common.jar, as they are not distributed with official Kotlin yet
buildInfra/tools/*
!buildInfra/tools/kotlinc
buildInfra/tools/kotlinc/*

!buildInfra/tools/kotlinc/lib
buildInfra/tools/kotlinc/lib/*
!buildInfra/tools/kotlinc/lib/kotlin-stdlib-common.jar

!buildInfra/tools/kotlinc/bin
buildInfra/tools/kotlinc/bin/*
!buildInfra/tools/kotlinc/bin/kotlinc-metadata
!buildInfra/tools/kotlinc/bin/kotlinc-metadata.bat
